{{template "base/head" .}}
<div class="home">
	<div class="ui stackable middle very relaxed page grid">
		<div class="sixteen wide center aligned centered column">
			<div class="logo">
				<img src="{{AppSubURL}}/img/favicon.png" />
			</div>
			<div class="hero">
				<h1 class="ui icon header title">
					Quiknos Git Registry
				</h1>
				<h2>基于Go语言的Git版本库</h2>
			</div>
		</div>
	</div>

		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-flame"></i> 高效率
				</h1>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-device-desktop"></i> 跨平台
				</h1>
			</div>
		</div>
		<div class="ui stackable middle very relaxed page grid">
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-rocket"></i> 轻量级
				</h1>
			</div>
			<div class="eight wide center column">
				<h1 class="hero ui icon header">
					<i class="octicon octicon-code"></i> 个性化
				</h1>
			</div>
		</div>

</div>
{{template "base/footer" .}}
